@model ControlRutas.Data.Estudiantes

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Estudiantes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimerNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimerNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegundoNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegundoNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegundoApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablecimientosEducativos.GUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablecimientosEducativos.GUID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
