@model IEnumerable<ControlRutas.Data.Estudiantes>
@using Microsoft.AspNet.Identity
@using ControlRutas.DTO
@using ControlRutas.Data
@using ControlRutas.Helpers
@{
    ViewBag.Title = "Estudiantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UsuarioOB usuarioOB = null;
    if (Request.IsAuthenticated)
    {
        usuarioOB = UsuarioActual.ObtenerUsuario(Request.GetOwinContext().Authentication.User.Identity.GetUserId());
    }
}

<p>
    @Html.ActionLink("Nuevo Estudiante", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre Estudiante
        </th>
        <th>
            Nombre del Colegio
        </th>
        <th></th>
    </tr>

    @if (usuarioOB is UsuarioAdminEstablecimiento || usuarioOB is UsuarioPadre || usuarioOB is UsuarioAdmin)
    {
        if (usuarioOB is UsuarioAdminEstablecimiento adminEstablecimiento)
        {
            foreach (var item in adminEstablecimiento.Estudiantes)
            {
                <tr>
                    <td>
                        @item.Nombre
                    </td>
                    <td>
                        @item.Colegio
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.GUID }) |
                        @Html.ActionLink("Detalle", "Details", new { id = item.GUID })
                    </td>
                </tr>
            }
        }
        else if (usuarioOB is UsuarioPadre padre)
        {
            foreach (HijosDTO hijo in padre.Hijos)
            {
                <tr>
                    <td>
                        @hijo.Nombre
                    </td>
                    <td>
                        @hijo.Colegio
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = hijo.GUID }) |
                        @Html.ActionLink("Detalle", "Details", new { id = hijo.GUID })
                    </td>
                </tr>
            }
        }
        else if(usuarioOB is UsuarioAdmin admin)
        {
            foreach (var item in admin.Estudiantes)
            {
                <tr>
                    <td>
                        @item.Nombre
                    </td>
                    <td>
                        @item.Colegio
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.GUID }) |
                        @Html.ActionLink("Detalle", "Details", new { id = item.GUID })
                    </td>
                </tr>
            }
        }
    }

</table>
