@model ControlRutas.Data.UsuariosEstudiantes

@{
    ViewBag.Title = "Desasignar Estudiante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Desasignar</h2>

<h5>Esta seguro de desasignar el estudiante @Model.Estudiantes.PrimerNombre @Model.Estudiantes.SegundoNombre @Model.Estudiantes.PrimerApellido @Model.Estudiantes.SegundoApellido del usuario @Model.Usuarios.PrimerNombre @Model.Usuarios.SegundoNombre @Model.Usuarios.PrimerApellido @Model.Usuarios.SegundoApellido?</h5>

<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Desasignar" class="btn btn-warning" /> |
            @Html.ActionLink("Regresar", "Details", "Usuarios", new { id = Model.Usuarios.Id }, null)
        </div>
    }
</div>
