@model ControlRutas.Data.RutasMediosTransporte

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RutasMediosTransporte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionOrigen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionOrigen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LatitudOrigen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatitudOrigen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongitudOrigen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongitudOrigen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LatitudDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatitudDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongitudDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongitudDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraLlegada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraLlegada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstudiantesMediosTransporte.GUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstudiantesMediosTransporte.GUID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
